body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 7rem;
  background-color: #adccff;
}

#gallery {
  background-color: #adccff;
}

section {
  padding-top: 5rem;
}

.photo-img {
  width: 100%;
}

#photo .row > * {
  padding: 0;
}
